@font-face {
    font-family: 'Oxygen-Bold';
    src:url(../fonts/Oxygen-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src:url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src:url(../fonts/Ubuntu-Bold.ttf) format('truetype');
}
@font-face{
    font-family:'Oxygen-Regular';
    src:url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
html,body{
    background:#fff;
    font-size: 100%;
    font-family:'Oxygen-Regular';

}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul{
    padding: 0;
    margin: 0;
}

ul.in li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6,label,p{
    margin:0;
}

.logo {
    text-align: center;
    position: absolute;
    top: 0;
}

.img {
    float: right;
}

.header-top {
    background-color: #2E2E2E;
    padding: 0.3em 0;
}

.header-login ul li a {
    font-size: 0.78em;
    margin: 0 0.1em;
}

.header-social{
    text-align: right;
}
.header-login ul li,.header-social ul li{
    display:inline-block;
}
.header-login ul li a, .header-login ul li {
    display:inline-block;
    text-decoration:none;
    color:#fff;
    font-size:0.9em;
    margin: 0 0.5em;
}
.header-login ul li a:hover {
    color: #F67777;
}

.header-social ul li a i{
    width: 17px;
    height: 17px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -14px -14px ;
    margin:0 0.3em;
}

.header-social ul li a i.ic1{
    background-position:  -55px -12px ;
}
.header-social ul li a i.ic2{
    background-position: -101px -12px ;
}
.header-social ul li a i.ic3{
    background-position:-150px -12px ;
}
.header-social ul li a i.ic4{
    background-position:-199px -13px ;
}
.header-social ul li a i:hover{
    background:url(../images/img-sprite.png)no-repeat -14px -52px ;
}
.header-social ul li a i.ic1:hover{
    background-position:  -55px -50px ;
}
.header-social ul li a i.ic2:hover{
    background-position: -101px -50px ;
}
.header-social ul li a i.ic3:hover{
    background-position:-150px -50px ;
}
.header-social ul li a i.ic4:hover{
    background-position:-199px -52px ;
}
.header-social ul {
    margin-top: 4px;
    margin-bottom: 0px;
}

.header-login ul{
    margin-bottom: 0px;
}

ul {
    padding: 0;
    margin: 0;
}

.h_menu4 {
    margin-left: 13.6%;
}
/**
For Menu in Desktop version
**/

.navbar {
    margin-bottom: 0px;
    border: none;
}

ul.nav_1 li a {
    font-size: 0.9em;
    color: #3A3A3A;
    padding: 1.6em;
}

ul.nav_1 li {
    border-right: 1px solid #EFEFEF;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f67777;
    color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #f67777;
    color: #fff;
}

.menu-top {
    width: 850px;
    padding: 1em;
}

.col1 {
    float: left;
    width: 20%;
}

.col1 h4 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 0.5em;
    font-family: 'Ubuntu-Regular';
}

.col1 ul li {
    list-style: none;
    border-right: none;
}

.col1 ul li a {
    padding: 6px 0px;
    display: block;
    font-size: 0.9em;
}

div#bs-megadropdown-tabs {
    padding: 0;
}

.heart {
    float: left;
    margin-top: 0.7em;
}

.heart li {
    display: inline-block;
    border-right: 1px solid #EFEFEF;
}

.heart li:last-child {
    border-right: none;
}

.heart li a {
    font-size: 0.9em;
    color: #3A3A3A;
    margin: 0 1em;
    outline: none;
}

.search-right {
    padding: 0.6em 0 0;
}

.cart.box_1 {
    float: right;
    margin-top: 2px;
}

.box_1 p a {
    color: #B5B3B3;
    font-size: 0.85em;
}

.box_1 h3 {
    color: #000;
    font-size: 1em;
    margin-top: 0px;
}

.total {
    display: inline-block;
}

.box_1 h3 img {
    margin-left: 5px;
}

.banner {
    width: 100%;
    height: 700px;
    display: block;
    background: url(../images/ba11.jpg)no-repeat right top;
    overflow-x: hidden;
}

.content-top {
    padding: 5em 0;
}

.b-link-stroke {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 5px;
}

.b-animate-go {
    text-decoration: none;
}

.b-link-stroke .b-wrapper1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0em;
    left: 0;
    text-align: center;
    color: #ffffff;
    padding-top: 7em;
}

.b-link-stroke .b-wrapper1:hover{
    background:rgba(8, 8, 8, 0.64);
}

.b-wrapper1.long-img {
    padding-top: 15em;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
}

.b-from-right {
    position: relative;
    right: -100%;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Oxygen-Bold';
}

label.b-from-right {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

.b-from-left {
    position: relative;
    left: -100%;
    color: #F67777;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
}

.b-animate-go:hover .b-animate{
    visibility:visible;
}

.b-animate-go:hover .b-from-left{
    left:0;
}

.b-animate-go:hover .b-from-right{
    right:0;
}

.b-scale{
    position:relative;
    transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    -webkit-transform:scale(0);
}
.b-animate-go:hover .b-scale, h1{
    transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    -webkit-transform:scale(1);
}

.col-2 {
    padding-top: 1em;
}

.col-2 span {
    font-size: 1.4em;
    color: #F67777;
    line-height: 1.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Ubuntu-Bold';
}

.col-2 h2 {
    font-size: 2.5em;
    line-height: 1.8em;
    font-family: 'Oxygen-Bold';
}

.col-2 h2 a {
    text-decoration: none;
    color: #000000;
}

.col-2 p {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin: 0 0 1.5em;
}

a.buy-now {
    font-size: 0.9em;
    color: #F67777;
    text-decoration: none;
    border-bottom: 2px solid #F67777;
    padding: 0 0 0.5em;
    display: inline-block;
}

.col-3 {
    position: relative;
    margin-bottom: 1.5em;
}

.col-pic {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.59);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 6.5em;
}

.col-pic p {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Oxygen-Bold';
}

.col-pic label {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

.col-pic h5 {
    color: #F67777;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
}

.content-mid h3 {
    font-size: 2.5em;
    color: #000000;
    line-height: 1.8em;
    font-family: 'Ubuntu-Regular';
    text-align: center;
}

label.line {
    width: 200px;
    height: 2px;
    display: block;
    background: #F67777;
    border-radius: 10px;
    margin: 0.2em auto;
}

.mid-popular {
    padding-top: 2em;
    display: inline-block;
}

.mid-pop {
    position: relative;
    border: 1px solid #EFECEC;
    padding: 10px;
}

.zoom-icon {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    display: block;
    left: 0;
    top: -152px;
    width: 290px;
    height: 219px;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.mid-pop .zoom-icon {
    top: 0px;
    width: 100%;
    height: 182px;
}

.mid-pop .zoom-icon .picture {
    display: inline-block;
}

.zoom-icon .icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #f67777;
    color: #fff;
    font-size: 1.3em;
    margin: 0 0.3em;
    line-height: 2.5em;
}

.zoom-icon .glyphicon-menu-right {
    background: #fff;
    color: #f67777;
}

.mid-pop .pro-img:hover .zoom-icon {
    top: 33%;
    opacity: 1;
    filter: alpha(opacity=99);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}

.mid-1 {
    padding-top: 1em;
}

.women-top {
    float: left;
}

.mid-1 span {
    font-size: 0.9em;
    color: #F67777;
    line-height: 1.8em;
    font-family: 'Ubuntu-Bold';
}

.mid-1 h6 {
    font-size: 1.2em;
    font-family: 'Ubuntu-Regular';
}

.mid-1 h6 a {
    color: #000000;
    text-decoration: none;
}

.item_add {
    color: #000;
    border: none;
}

.mid-2 {
    padding-top: 1em;
}

.mid-2 p {
    float: left;
    font-size: 0.9em;
    color: #B4B4B4;
}

.mid-2 p label {
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 6px;
}

.mid-2 p em {
    font-style: normal;
}

.block {
    float: right;
}

.brand {
    padding: 5em 0;
}

/*** Footer website ***/
.footer-middle {
    background: #1F1F1F;
    padding: 4em 0;
}

.footer-middle-in p {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin-top: 1em;
}

.footer-middle-in h6 {
    font-size: 1.4em;
    color: #fff;
    font-family: 'Ubuntu-Bold';
    margin-bottom: 1em;
    text-transform: uppercase;
}

.in {
    float: left;
}

ul.in li a {
    color: #B3B3B3;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0 0 0.5em;
    display: block;
}

.in1 {
    float: right;
}

.footer-middle-in h6 {
    font-size: 1.4em;
    color: #fff;
    font-family: 'Ubuntu-Bold';
    margin-bottom: 1em;
    text-transform: uppercase;
}

ul.tag-in li {
    display: inline-block;
}

ul.tag-in li a {
    color: #B3B3B3;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0.3em 0.7em;
    border: 1px solid #B3B3B3;
    display: block;
    margin-bottom: 0.6em;
    border-radius: 15px;
}

.footer-middle-in span {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
}

.footer-middle-in input[type="text"] {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.7em 0;
    background: none;
    outline: none;
    border: 1px solid #B3B3B3;
    -webkit-appearance: none;
    font-size: 0.9em;
    color: #B3B3B3;
}

.footer-middle-in input[type="submit"] {
    width: 100%;
    font-size: 1em;
    background: #F67777;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.footer-bottom {
    background: #000;
    padding: 1em 0;
}

.footer-bottom-top {
    float: left;
}

.footer-bottom-top li {
    display: inline-block;
}

.footer-class {
    color: #fff;
    font-size: 1em;
    float: right;
}

.footer-class a {
    color: #F67777;
    text-decoration: none;
}

.banner-top {
    text-align: center;
    width: 100%;
    height: 250px;
    display: block;
    background: url(../images/back.jpg)no-repeat;
    padding: 5em 0;
}

.banner-top h1 {
    font-size: 3em;
    color: #fff;
    font-family: 'Ubuntu-Regular';
}

.banner-top em {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

.banner-top h2 {
    font-size: 0.9em;
    color: #fff;
    margin-top: 1em;
}

.banner-top h2 a {
    color: #f67777;
}

.banner-top h2 label {
    margin: 0 0.4em;
}

.login-mail {
    border: 1px solid #E9E9E9;
    margin-bottom: 2em;
    padding: 0.5em 1em;
}

.login {
    padding: 5em 0 0;
}

.login-mail input[type="text"], .login-mail input[type="password"] {
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #999;
    width: 95%;
}

.login-mail i {
    color: #F67777;
    font-size: 1em;
}

.news-letter {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 1em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    clear: both;
}

.checkbox1:last-child {
    margin-bottom: 0;
}
.login-do label {
    font-weight: 400;
}
.checkbox1 {
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 1.2em;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: #000;
}

.checkbox1 input {
    position: absolute;
    left: -9999px;
}

.checkbox1 i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    border: 2px solid #E1DFDF;
}

.checkbox1 input + i:after {
    content: '';
    background: url("../images/tick1.png") no-repeat 1px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox1 input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox1 input:checked + i:after {
    opacity: 1;
}
.news-letter:hover {
    color:#00BFF0;
}

.login-do label {
    font-weight: 400;
}
.hvr-skew-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    background-color: #F67777;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
}

.hvr-skew-backward[disabled] {
    opacity: 0.5;
}

.login-do input[type="submit"] {
    border: none;
    outline: none;
    font-size: 1em;
    -webkit-appearance: none;
    cursor: pointer;
    background: none;
}

.login-right h3 {
    font-size: 1.5em;
    color: #000000;
    font-family: 'Ubuntu-Regular';
}

.login-right p {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin: 1em 0;
}

@media(max-width:1000px){
    .header-login {
        margin-left: 24%;
        width: 33%;
        float: left;
    }

    .logo img {
        width: 84%;
    }

    .navbar-toggle {
        background-color: #000 !important;
    }

    ul.nav_1 li a {
        padding: 0.7em 0.5em;
        font-size: 0.9em;
    }

    .h_menu4 {
        margin-left: 21.8%;
        width: 56%;
        padding: 0;
        float: left;
    }

    .box_1 h3 img {
        width: 25%;
    }

    .box_1 h3 {
        font-size: 1.0em;
    }

    .search-right {
        width: 21%;
    }

    .heart {
        margin-top: 0.4em;
    }

    ul.nav_1 li a {
        padding: 1.2em 0.5em;
        font-size: 0.8em;
    }

    .heart li {
        padding: 0px;
    }

    .banner {
        height: 450px;
        background-position-x: -883px;
    }

    .col-md {
        width: 83%;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .b-wrapper1.long-img {
        padding-top: 19em;
    }

    .col-md1 {
        width: 83%;
        margin: 0 auto;
    }

    .col-pic {
        padding-top: 7em;
    }

    .heart li a {
        margin: 0 0.5em;
    }

    .brand-grid {
        float: left;
        width: 25%;
    }

    .item-grid, .item-grid1 {
        width: 50%;
        float: left;
    }

    .footer-middle-in h6 {
        margin-top: 1em;
    }

    .navbar-nav > li > .dropdown-menu {
        left: -233%;
    }

    .navbar-nav > li > .mega-dropdown-menu {
        left: -490%;
    }

    .menu-top {
        width: 660px;
        padding: 1em;
    }

    .login-do {
        padding-bottom: 2em;
    }
}

@media(max-width:767px) {
    .header-social {
        float: right;
    }

    .header-login {
        margin-left: 29%;
        width: 36%;
    }

    .header-login {
        margin-left: 41%;
        width: 62%;
        text-align: right;
        padding: 0;
    }

    .logo {
        left: 1%;
    }

    .header-social {
        margin-top: 1em;
        padding: 0;
    }

    .header-top {
        padding: 0.92em 0;
    }

    .h_menu4 {
        width: 45%;
        margin: 0;
        padding: 0px;
        float: left;
    }

    .navbar-toggle {
        float: left;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    ul.nav_1 li {
        border-right: none;
    }

    .navbar-nav {
        margin: 0;
        width: 100%;
    }

    .col1 {
        float: none;
        width: 100%;
    }

    .menu-top {
        width: auto;
    }

    .heart li {
        padding: 0px;
    }

    .box_1 h3 {
        margin-bottom: 0px;
    }

    .search-right {
        width: 27%;
        float: right;
    }

    .banner {
        height: 390px;
        background-position-x: -965px;
    }

    .item-grid, .item-grid1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .brand-grid {
        float: left;
        width: 50%;
    }

    .brand {
        padding: 0.5em 0;
    }

    .content-top {
        padding: 0;
    }

    .mid-popular {
        padding-top: 0px;
    }

    label.line {
        margin-bottom: 10px;
    }

    .footer-bottom-top {
        float: none;
        text-align: center;
    }

    .footer-class {
        float: none;
        text-align: center;
        margin-top: 0.6em;
    }

    .box_1 p a {
        color: #B5B3B3;
        font-size: 0.7em;
    }
}

@media (max-width: 568px) {
    .search-right {
        width: 40%;
        float: right;
    }

    .banner {
        height: 340px;
        background-position-x: -238px;
        background-size: 704px;
    }

    .col-2 h2 {
        font-size: 1.8em;
        line-height: 1.5em;
    }

    .col-pic p {
        font-size: 1em;
    }

    .col-pic h5 {
        font-size: 1.7em;
    }

    .col-pic {
        padding-top: 3.5em;
    }

    .col-md, .col-md1 {
        width: 100%;
    }

    .footer-class {
        font-size: 0.9em;
    }

    .banner-top {
        height: 178px;
        padding: 3em 0;
        background-size: 557px;
    }

    .login {
        padding: 2em 0 0;
    }

    .login-mail input[type="text"], .login-mail input[type="password"] {
        width: 93%;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 340px;
        background-position-x: -238px;
        background-size: 704px;
    }
}

@media (max-width: 390px) {
    .logo img {
        width: 66%;
    }

    .logo {
        left: -5%;
    }

    .header-social {
        margin-top: 0.35em;
    }

    .header-top {
        padding: 0.57em 0;
    }

    .h_menu4 {
        width: 43%;
    }

    .menu-top {
        width: auto;
    }

    .search-right {
        width: 54%;
        float: right;
    }

    .col-pic {
        padding-top: 2em;
    }

    .col-md, .col-md1 {
        padding: 0;
    }

    .col-2 {
        padding: 1em 0;
    }

    .footer-middle {
        padding: 2em 0;
    }

    .footer-middle-in h6 {
        font-size: 1.2em;
    }

    .footer-middle-in p, ul.in li a, ul.tag-in li a, .footer-class {
        font-size: 0.83em;
    }

    .banner-top {
        height: 125px;
        padding: 1.7em 0;
        background-size: 434px;
    }

    .login {
        padding: 2em 0 0;
    }

    .login-mail {
        margin-bottom: 1em;
    }

    .login-mail input[type="text"], .login-mail input[type="password"] {
        width: 90%;
    }

    .login-do {
        padding: 0 0 2em;
    }

    .login-right h3 {
        font-size: 1.2em;
    }

    .login-right p {
        font-size: 0.83em;
    }
}

@media (max-width: 320px) {
    .banner {
        height: 232px;
        background-position-x: -225px;
        background-size: 542px;
    }
}