.td-header {
    height: 90px;
    background: #00a99d;
    margin-bottom: 0px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
}

.td-menuTop {
    float: right;
    line-height: 67px;
}

.td-logoTop {
    margin-top: 26px;
}
